$theme-colors:(
    "primary": #000000,
    "secondary": #000000,
    "lightBlue" : #00C2DB,
    "lightGreyColor" : #A5A5A5,
    "borderColor" : #DFDFDF
);
$btn-text: #fff !default;
$border-radius: 4px;
$product-detail-bg: #F9F9F9;
$footer-bg: #333333;
$footer-text-color: #f9f9f9;
$footer-recent-post : #FF9B44;

$form-label-color: #F9F9F9 !default;
$input-bg:#4B4B4B !default;
$input-box-shadow: none !default;
$input-focus-bg: none !default;
// $input-focus-color: none !default;
$input-focus-box-shadow:none !default;
$input-border-width: 0 !default;
$input-color: #F9F9F9 !default;
$white-color: #FFFFFF;
$order-box-bg: rgba(75, 75, 75, 0.1);
$first-box: #4B4B4B;
$second-box:#FF9B44;
$second-box-btn:#333333;